@CHARSET "UTF-8";

body{
	background-color: #FFFFFF;
    background-image: url("../img/grid-18px-masked.png");
    background-position: 0 40px;
    background-repeat: repeat-x;
    position: relative;
}
